@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    outline: 0%;
    box-sizing: border-box;
}
:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secondary: "Ubuntu", serif;
    --font-tertiary: "Roboto", serif;
    --font-action: "Mulish", serif;
}

/* Menu-Hamburguuer*/
.hamburguer {
    width: 2rem;
    height: 3rem;
    position: fixed;
    z-index: 1002;
    right: .8rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    opacity: 0;
}

.show-menu .hamburguer{
    right: 10rem;
}

.rize-hamburguer .hamburguer {
    opacity: 1;
  
}

.line {
    width: 100%;
    height: .1rem;
    background-color: #363636;
    transition: transform 1s;
}


.show-menu #line1{
    transform: rotate(44deg) translate(.7rem, .41rem); 
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-44deg) translate(.7rem, -.41rem);
}

/* Side Bar */
.sidebar {
    width: 12rem;
    height: 100vh;
    background-color: tomato;
    position: fixed;
    top: 0%;
    right: -15rem;
    transition: all 1s;
    z-index: 1000;
}

.show-menu .sidebar {
    right: 0%;
    
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin-bottom: 2rem;
}

.menu-link {
    font-family: var(--font-action);
    font-size: 1rem;
    font-weight: 600;
    color: #ffff;
    transition: color 500ms;
}

.menu-link:hover {
    color:  #363636;
}

.social-media {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 500ms;
}

.social-media i:hover {
    color:  #363636;
}

/*######### END ##################*/

/**********************************
########## HEADER #################
***********************************  */

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    opacity: .9;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    animation: zoom 4s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}



.banner {
    position: absolute;
    top: 35%;
    left: 20%;
}

.banner h1 {
    color: tomato;
    font-size: 2.5rem;
    font-family: var(--font-primary);
    font-weight: 650;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    line-height: 4.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: movebanner 1s .8s forwards;
}

.banner p {
    font-family: var(--font-primary);
    color:  #363636;
    font-weight: 600;
    font-size: 1.6rem;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    opacity: 0;
    animation: movebanner 1s .9s forwards;
}

.banner button {
    font-family: var(--font-action);
    color: #f5f5f5;
    font-size: 1.0rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: rgb(255, 94, 0);
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: movebanner 1s 1.5s forwards;
}

.banner button:hover {
    opacity: .9;
}

@keyframes movebanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg)
    }

    100% {
        transform: translateY(0rem) rotateY(0);
        opacity: 1;
    }
}


/*######### END ##################*/

/*********************************
 ####### SECTION SERVICE ########
*********************************/

.section-history {
    background-color: #cdcdcd;
 }

.history-container {
    margin:auto;
    max-width: 1080px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap:20px;
    justify-content: center;
    padding: 15px 15px 20px;
}

.history{
    padding: 15px 15px 20px;
    border-radius: 1%;

}

.history-content p{
    font-family: var(--font-tertiary);
    font-size: 1rem;
    font-weight: 450;
    color: #363636;
    margin-bottom: .5rem;

}

@keyframes zoom-service {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



.section-header { 
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.section-header h1 {
    font-family: var(--font-primary);
    font-size: 2rem;
    color: #4b4b4b;
    border-bottom: solid 3px rgb(250, 57, 23);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.section-service {
    background-color: #cdcdcd;
   
}

.services-container {
    margin:auto;
    max-width: 980px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap:20px;
    justify-content: center;
    padding: 20px;
    background-color: tomato;
    border-radius: 1%;
  
}

.service{
    background: transparent;
    padding: 15px 15px 40px;
    border-radius: 1%;
    cursor: pointer;
    transition: all 700ms;
}

.service-photo{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1%;  
}

.service-content{
    text-align: center;
 
}

.service-content h3{
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(48, 64, 80);
    margin-bottom: 2rem;
    text-shadow:.1rem .1rem 2px rgb(184, 180, 180); 
}

.service-content p{
    font-family: var(--font-tertiary);
    font-size: 1rem;
    font-weight: 400;
    color: #f5f5f5;
    margin-bottom: .5rem;
    opacity: .9;

  
     
}

.service-content button{
    width: 8rem;
    height: 2.5rem;
    background-color: #f5f5f5;
    opacity: .8;
    border: none;
    border-radius:4%;
    font-family: var(--font-action);
    color:  rgb(231, 67, 38);
    font-size: 1.3rem;
    font-weight: 900;
    opacity: 0;   
    visibility: hidden;
    cursor: pointer;
    transition: all 1s;
    text-transform: uppercase;
 
}

.service:hover{
    background:rgb(139, 182, 226);
    box-shadow: -.1rem .1rem 1.1em rgba(0, 0, 0, 0.959);
    opacity: .9; 
}

.service:hover .service-content button{
    opacity: .8;
    visibility: visible;
    animation: zoom-service 1.5s;
}

.service:hover .service-content p{
    color: #363636;
}

/***** STOP EVENT HOVER TO DEVICES WITH SCREEN WIDTH < 900 pX ******/

@media only screen and (max-width: 900px){
    .service{
        background:rgb(139, 182, 226);
        box-shadow: -.1rem .1rem 1.1em rgba(0, 0, 0, 0.959);
    }
    
    .service-content button{
        visibility: visible;
        opacity: .8;

    }
    
    .service-content p{
        color: #363636;
    }

}





/*********************************
 ####### SECTION FEEDBACK ########
*********************************/

.feedback-section{
    background-color:#cdcdcd;

}

.feedback-container{
    margin:auto;
    max-width: 980px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:20px;
    justify-content: center;
    padding: 20px;
    background-color: tomato;
    border-radius: 1%;
}


.feedback{
    background: rgb(139, 182, 226);
    padding: 15px 15px 20px;
    border-radius: 1%;
    opacity: .9;
    box-shadow: -.1rem .1rem 1.1em rgba(0, 0, 0, 0.959);
}

.feedback-photo{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 1%; 
}


.feedback-content{
    text-align: center;
}

.feedback-content h2{
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(231, 67, 38);
    margin-bottom: .5rem;
    text-shadow:.1rem .1rem 1px rgba(0, 0, 0, 0.404);
}

.feedback-content p{
    font-family: var(--font-tertiary);
    font-size: 1rem;
    font-weight: 400;
    color: #363636;
    margin-bottom: .5rem;
    /*text-shadow:.1rem .1rem 1px rgba(0, 0, 0, 0.404);*/
}





footer{
    width: 100%;
    min-height: 8rem;
    background-color: #434646 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 80%;
    display: flex;
    justify-content: space-between;

}

.footer-content p{
    font-family: var(--font-tertiary) ;
    font-size: 1rem;
    font-weight: 300;
    color: #f5f5f5;
    margin-top: .5rem;
}


.info-address h2{
    font-family: var(--font-tertiary);
    font-size: 1.5rem;
    font-weight: 500;
    color: #f5f5f5;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}

.info-address i{
    font-size: 1.1rem;
    color: tomato;
    margin: .5rem .5rem .5rem;
}

.info-address span{
    font-family: var(--font-tertiary) ;
    font-size: 1rem;
    font-weight: 300;
    color: #f5f5f5;
}

.info-contact h2{
    font-family: var(--font-tertiary);
    font-size: 1.5rem;
    font-weight: 500;
    color: #f5f5f5;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}

.info-contact i{
    font-size: 1.1rem;
    color: tomato;
    margin: .5rem .5rem .5rem;
}

.info-contact span{
    font-family: var(--font-tertiary) ;
    font-size: 1rem;
    font-weight: 300;
    color: #f5f5f5;
}

.social-list h2{
    font-family: var(--font-tertiary);
    font-size: 1.5rem;
    font-weight: 500;
    color: #f5f5f5;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}


.social-list a{
    margin: 0 .5rem;
}

.social-list ul{
    display: flex;
    margin-bottom: 1rem;

}

.social-list i{
    font-size: 1.3rem;
    color:#f5f5f5;
    transition: color 500ms;
}

.social-list i:hover{
    color:tomato;
}









/***** RESPONSIVITY ******/


@media (max-width: 1370px) {
    .footer-content,
    .footer-content .info,
    .footer-content .social-list{
        flex-direction: column;
    }
    .footer-content,
    .footer-content .info,
    .footer-content .social-list{
        width: 100%;
        text-align: center;
    }
    .footer-content .social-list ul{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 778px) {
    .feedback-container,
    .services-container, 
    .history-container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    
}
}

@media (max-width: 327px) {
    .feedback-container,
    .services-container, 
    .history-container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    
}

}

@media (max-width: 290px) {
    .feedback-container,
    .services-container, 
    .history-container{
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        
    
}

}

@media (max-width: 800px) {
    .feedback-photo,
    .service-photo{
        height: 150px;
}

}

@media (max-width: 768px) {
    .feedback-photo,
    .service-photo{
        height: 210px;
}

}

@media (max-width: 660px) {
    .feedback-photo,
    .service-photo{
        height: 180px;
}

}
@media (max-width: 600px) {
    .feedback-photo,
    .service-photo{
        height: 350px;
}

}

@media (max-width: 540px) {
    .feedback-photo,
    .service-photo{
        height: 280px;
}

}


@media (max-width: 480px) {
    .feedback-photo,
    .service-photo{
        height: 250px;
}

}

@media (max-width: 414px) {
    .service-photo{
        height: 190px;
}

}

@media (max-width: 414px) {
    .feedback-photo{
        height: 310px;
}

}

@media (max-width: 393px) {
    .feedback-photo,
    .service-photo{
        height: 180px;
}

}

@media (max-width: 390px) {
    .feedback-photo,
    .service-photo{
        height: 210px;
}

}


@media (max-width: 375px) {
    .feedback-photo,
    .service-photo{
        height: 180px;
}

}

@media (max-width: 320px) {
    .feedback-photo,
    .service-photo{
        height: 165px;
}

}



@media (max-width: 240px) {
    .feedback-photo,
    .service-photo{
        height: 120px;
}

}