@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary:"Baloo Da 2", serif;
    --font-secondary:"Ubuntu", serif;
    --font-action:"Mulish", serif;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    animation: zoom 4s;  
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 20%;
    left: 20%;
}

.banner h1{
    color: #ce0000;
    font-size: 4.5rem;
    font-family: var(--font-primary);
    font-weight: 650;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    line-height: 4.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: movebanner 1s 1.1s forwards;
}

.banner p{
    font-family: var(--font-primary);
    color: #4b4b4b;;
    font-weight: 600;
    font-size: 2rem;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    opacity: 0;
    animation: movebanner 1s 1.3s forwards;
}

.banner button{
    font-family: var(--font-action);
    color: #fff;
    font-size: 1.0rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #ce0000;  
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: movebanner 1s 1.5s forwards;
}

.banner button:hover{
   opacity: .9;
}

@keyframes movebanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg)
    }
    100%{
        transform: translateY(0rem) rotateY(0);
        opacity: 1;
    }
}

.navbar{
    width: 100%;
    height:5rem;
    background-color: rgba(180, 176, 176, 0.24);
    position: fixed;
    top: 0%;
    transition: all 1.5s;
}

.change-color .navbar{
    
    background-color:  #C70039;
}

.menu{    
position: absolute;
top: 0rem;
right: 6rem;
margin-left: .5rem;
justify-content: center;
align-items: center;
}

.menu-item{
    display: inline;

}
.menu-social{
    display: inline;
}
.change-color .menu-link{
   
    color: #f5f5f5;
}

.menu-link{
    font-family:var(--font-action);
    font-size: 1.3rem;
    font-weight: 800;
    color: #ce0000;
    transition: color 500ms;
    padding: 10px;
    display: inline-block;
}

.menu-link:hover{
    color: #4b4b4b;
}

.menu .dropdown-content{
    display: none;
    position: absolute;
    right: 0%;
    
}

.dropdown-content i{
    color:  #C70039;
    font-size: 1.8rem;
    display:contents;
    margin-left: 4.5rem;
 
    transition: color 500ms;
    padding: 2rem;
}

.dropdown-content i:hover{
    color: #4b4b4b;
}

.show-social .menu .menu-social .dropdown-content{
    display: block;
}

.change-color .dropdown-content i{
    color:  #ffff;
}

.change-color .dropdown-content i:hover{
    color: #4b4b4b;
}

.histories{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(3, 2rem);
    row-gap: 1rem;
    padding: 2rem;
}
.history-text{
    font-family: var(--font-secondary);
    grid-column: 1 / 20;
    grid-row: 1 / 3;
}

.services{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 6rem);
    row-gap: 2rem;
    column-gap: 1rem;
    padding: 2rem;
}
.service:nth-child(1){
    grid-column: 2 / 5;
    grid-row: 1 / 5;
}

.service:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3/ 7;
}

.service:nth-child(3){
    grid-column: 12/ 15;
    grid-row: 3 / 7; 
}

.service:nth-child(4){
    grid-column: 13/ 16;
    grid-row: 1 / 5;
}

.service:nth-child(5){
    grid-column: 7 / 12;
    grid-row: 5/ 7;
}

.section-service{
    background-color: #e2dcdc;
    margin-right:2rem;
    margin-left: 2rem;
    z-index: 100;
    border-radius: 1.5%;
}

.section-header{
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px  #ce0000;
    margin-bottom: 1.5rem;
}

.service-header{
    display: flex;
    align-items: center;
}

.service-header i{
    font-size: 3.5rem;
    color:  #ce0000;
}

.service-header h3{
    font-family: var(--font-secondary);
    font-size: 2rem;
    color:#4b4b4b;
    padding-left: 1rem;
}

.service-text{
    font-family: var(--font-secondary);
    margin-top: 1rem;
}

.services-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 1 / 4;
    width: 100%;
    
}

.services-img-wrapper img{
    object-fit: cover;
    width: 100%;
    border-radius: 40%;
}

