@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

::-webkit-scrollbar{
    display: none;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin:-1;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;

}

* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    outline: 0%;
    box-sizing: border-box;
}
body{
    background-color: #f7f7f7;
    overflow-x: hidden;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secondary: "Ubuntu", serif;
    --font-tertiary: "Roboto", serif;
    --font-action: "Mulish", serif;
  
}

.span-text::before{
    content: "";
    position: absolute;
    border-left: .8rem solid   #f7f7f7;
    border-bottom: .8rem solid transparent ;
    border-right: .8rem solid transparent ;
    border-top: .8rem solid transparent ;
    left: 10.8rem;
    top: 0.3rem;
    opacity: 1;
}

.span-text{
    align-items: center;
    justify-content: center;
    margin-bottom: .1rem; 
    background-color: #f7f7f7;
    border-radius: 5%;
    width: 6rem;
    cursor: pointer;
}

.span{
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    color:   #ff7800;
    z-index: 99999;
    text-transform: uppercase;

}

.flags{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75px;
    padding: 4px 4px 4px 4px;
    z-index: 99999;
 
}

.flags-item{
    width: 30px;
} 

.flags-item img{
    cursor: pointer;
    border-radius: 5px;
}

.social-media {
    position: relative;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-media i {
    color: #f7f7f7;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 500ms;
    padding: 0, 0, 1rem, 1rem;
}

.social-media i:hover {
    color: #ffe300;
}


.primary-header {
    background: #ff7800;
    align-items: center;
    justify-content: space-evenly;
  }

  .mobile-nav-toggle{
      display: none;
  }



.nav-list{
    --gap: 5rem;
    background:  #ff7800;
   
}


.nav-list a{
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-size: 1.2rem;
    font-weight: 600;
    color: #f7f7f7;
    transition: all 1s;
 
}
.nav-list a:hover{
    color:  #ffbc97;
}


.nav-list a > [aria-hidden] {
    font-weight: 700;
    margin-inline-end: 0.75em;
}

@media(max-width: 75em) {
    .nav-list{
        --gap: 8em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 40%;
        flex-direction: column;
        align-items: center;
        padding: min(20vh, 10rem) 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .social-media{
        position: absolute;
        bottom: .5rem;
    }

    .nav-list[data-visible="true"]{
        transform: translateX(0%);

    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        top: 2.1rem;
        right: 2rem;
        background-color: transparent;
        background-image: url(icons/icon-hamburguer.svg);
        background-repeat: no-repeat;
        width: 3rem;
        border: 0;
        aspect-ratio: 1;
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url(icons/icon-hamburguer-close.svg) ;
    }

    .select-language{
        position: absolute;
        right: 1rem;
        top: .1rem;
        z-index: 99999;
    }

    .span-text::before{
        content: "";
        position: absolute;
        border-left: .8rem solid   #f7f7f7;
        border-bottom: .8rem solid transparent ;
        border-right: .8rem solid transparent ;
        border-top: .8rem solid transparent ;
        left: 6.1rem;
        top: 0.3rem;
        opacity: 1;
    }

}

main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative; 
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
  
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    animation: zoom 3.1s;
   
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 37%;
    left: 23%;
}

.banner h1 {
    color: tomato;
    font-size: 2.5rem;
    font-family: var(--font-primary);
    font-weight: 650;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    line-height: 1.5rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: movebanner 3s .8s forwards;
}

.banner p {
    font-family: var(--font-primary);
    color:  #363636;
    font-weight: 600;
    font-size: 1.6rem;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    opacity: 0;
    animation: movebanner 3s .9s forwards;
}

.banner button {
    font-family: var(--font-action);
    color: #f5f5f5;
    font-size: 1.0rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: rgb(255, 94, 0);
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: movebanner 3s 1s forwards;
}

.banner button:hover {
    opacity: .9;
}

@keyframes movebanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg)
    }

    100% {
        transform: translateY(0rem) rotateY(0);
        opacity: 1;
    }
}


/*######### END ##################*/

/*********************************
 ####### SECTION SERVICE ########
*********************************/

.section-history {
    background-color: #cdcdcd;
 }

.history-container {
    margin:auto;
    max-width: 1080px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap:20px;
    justify-content: center;
    padding: 15px 15px 20px;
}

.history{
    padding: 15px 15px 20px;
    border-radius: 1%;

}

.history-content p{
    font-family: var(--font-tertiary);
    font-size: 1rem;
    font-weight: 450;
    color: #363636;
    margin-bottom: .5rem;

}

@keyframes zoom-service {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



.section-header { 
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.section-header h1 {
    font-family: var(--font-primary);
    font-size: 2rem;
    color: #4b4b4b;
    border-bottom: solid 3px rgb(250, 57, 23);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.section-service {
    background-color: #cdcdcd;
   
}

.services-container {
    margin:auto;
    max-width: 980px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap:20px;
    justify-content: center;
    padding: 20px;
    background-color: tomato;
    border-radius: 1%;
  
}

.service{
    background: transparent;
    padding: 15px 15px 40px;
    border-radius: 1%;
    cursor: pointer;
    transition: all 700ms;
}

.service-photo{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1%;  
}

.service-content{
    text-align: center;
 
}

.service-content h3{
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(48, 64, 80);
    margin-bottom: 2rem;
    text-shadow:.1rem .1rem 2px rgb(184, 180, 180); 
}

.service-content p{
    font-family: var(--font-tertiary);
    font-size: 1rem;
    font-weight: 400;
    color: #f5f5f5;
    margin-bottom: .5rem;
    opacity: .9;

  
     
}

.service-content button{
    width: 8rem;
    height: 2.5rem;
    background-color: #f5f5f5;
    opacity: .8;
    border: none;
    border-radius:4%;
    font-family: var(--font-action);
    color:  rgb(231, 67, 38);
    font-size: 1.3rem;
    font-weight: 900;
    opacity: 0;   
    visibility: hidden;
    cursor: pointer;
    transition: all 1s;
    text-transform: uppercase;
 
}

.service:hover{
    background:rgb(139, 182, 226);
    box-shadow: -.1rem .1rem 1.1em rgba(0, 0, 0, 0.959);
    opacity: .9; 
}

.service:hover .service-content button{
    opacity: .8;
    visibility: visible;
    animation: zoom-service 1.5s;
}

.service:hover .service-content p{
    color: #363636;
}

/***** STOP EVENT HOVER TO DEVICES WITH SCREEN WIDTH < 900 pX ******/

@media only screen and (max-width: 900px){
    .service{
        background:rgb(139, 182, 226);
        box-shadow: -.1rem .1rem 1.1em rgba(0, 0, 0, 0.959);
    }
    
    .service-content button{
        visibility: visible;
        opacity: .8;

    }
    
    .service-content p{
        color: #363636;
    }

}





/*********************************
 ####### SECTION FEEDBACK ########
*********************************/

.feedback-section{
    background-color:#cdcdcd;

}

.feedback-container{
    margin:auto;
    max-width: 980px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:20px;
    justify-content: center;
    padding: 20px;
    background-color: tomato;
    border-radius: 1%;
}


.feedback{
    background: rgb(139, 182, 226);
    padding: 15px 15px 20px;
    border-radius: 1%;
    opacity: .9;
    box-shadow: -.1rem .1rem 1.1em rgba(0, 0, 0, 0.959);
}

.feedback-photo{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 1%; 
}


.feedback-content{
    text-align: center;
}

.feedback-content h2{
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(231, 67, 38);
    margin-bottom: .5rem;
    text-shadow:.1rem .1rem 1px rgba(0, 0, 0, 0.404);
}

.feedback-content p{
    font-family: var(--font-tertiary);
    font-size: 1rem;
    font-weight: 400;
    color: #363636;
    margin-bottom: .5rem;
    /*text-shadow:.1rem .1rem 1px rgba(0, 0, 0, 0.404);*/
}

footer{
    width: 100%;
    min-height: 8rem;
    background-color: #434646 ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.footer-content{
    width: 80%;
    display: flex;
    justify-content: space-between;

}

.footer-content p{
    font-family: var(--font-tertiary) ;
    font-size: 1rem;
    font-weight: 300;
    color: #f5f5f5;
    margin-top: .5rem;
}


.info-address h2{
    font-family: var(--font-tertiary);
    font-size: 1.5rem;
    font-weight: 500;
    color: #f5f5f5;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}

.info-address i{
    font-size: 1.1rem;
    color: tomato;
    margin: .5rem .5rem .5rem;
}

.info-address span{
    font-family: var(--font-tertiary) ;
    font-size: 1rem;
    font-weight: 300;
    color: #f5f5f5;
}

.info-contact h2{
    font-family: var(--font-tertiary);
    font-size: 1.5rem;
    font-weight: 500;
    color: #f5f5f5;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}

.info-contact i{
    font-size: 1.1rem;
    color: tomato;
    margin: .5rem .5rem .5rem;
}

.info-contact span{
    font-family: var(--font-tertiary) ;
    font-size: 1rem;
    font-weight: 300;
    color: #f5f5f5;
}

.social-list h2{
    font-family: var(--font-tertiary);
    font-size: 1.5rem;
    font-weight: 500;
    color: #f5f5f5;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}


.social-list a{
    margin: 0 .5rem;
}

.social-list ul{
    display: flex;
    margin-bottom: 1rem;

}

.social-list i{
    font-size: 1.3rem;
    color:#f5f5f5;
    transition: color 500ms;
}

.social-list i:hover{
    color:tomato;
}









/***** RESPONSIVITY ******/


@media (max-width: 1370px) {
    .footer-content,
    .footer-content .info,
    .footer-content .social-list{
        flex-direction: column;
    }
    .footer-content,
    .footer-content .info,
    .footer-content .social-list{
        width: 100%;
        text-align: center;
    }
    .footer-content .social-list ul{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 778px) {
    .feedback-container,
    .services-container, 
    .history-container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    
}
}

@media (max-width: 327px) {
    .feedback-container,
    .services-container, 
    .history-container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    
}

}

@media (max-width: 290px) {
    .feedback-container,
    .services-container, 
    .history-container{
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        
    
}

}

@media (max-width: 800px) {
    .feedback-photo,
    .service-photo{
        height: 150px;
}

}

@media (max-width: 768px) {
    .feedback-photo,
    .service-photo{
        height: 210px;
}

}

@media (max-width: 660px) {
    .feedback-photo,
    .service-photo{
        height: 180px;
}

}
@media (max-width: 600px) {
    .feedback-photo,
    .service-photo{
        height: 350px;
}

}

@media (max-width: 540px) {
    .feedback-photo,
    .service-photo{
        height: 280px;
}

}


@media (max-width: 480px) {
    .feedback-photo,
    .service-photo{
        height: 250px;
}

}

@media (max-width: 414px) {
    .service-photo{
        height: 190px;
}

}

@media (max-width: 414px) {
    .feedback-photo{
        height: 310px;
}

}

@media (max-width: 393px) {
    .feedback-photo,
    .service-photo{
        height: 180px;
}

}

@media (max-width: 390px) {
    .feedback-photo,
    .service-photo{
        height: 210px;
}

}


@media (max-width: 375px) {
    .feedback-photo,
    .service-photo{
        height: 180px;
}

}

@media (max-width: 320px) {
    .feedback-photo,
    .service-photo{
        height: 165px;
}

}



@media (max-width: 240px) {
    .feedback-photo,
    .service-photo{
        height: 120px;
}

}




/*form */

.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 120vh;
}

.form-container{
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    box-shadow: -.1rem .1rem 1.1em rgba(0, 0, 0, 0.959);
    width: 90vw;
    position: absolute;
    top: 26rem;
    border-radius: 8px;

}


.form-content{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    width: 100%;
    padding: 30px 0px 30px;

}



.img-wrapper-contact{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background:no-repeat center center

}



.img-wrapper-contact img {
    width: 100%;
    height: 450px;
    object-fit: cover;
   
}


.form-contact{
    max-width: 700px;
    width: 100%;
    background: #dddbdb;
    box-shadow: -.1rem .1rem 1.1em rgba(0, 0, 0, 0.959);
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    padding: 25px 10px 25px;
    border-radius: 8px;
 
}

.form-contact label,
.form-contact input,
.form-contact textarea,
.form-contact button {
    display: block;
    width: 100%;
}

.form-contact label{
    font-family: var(--font-secondary);
    color:black;
    line-height: 1;
    margin-bottom: .5rem;
}

.form-contact input,
.form-contact textarea{
    font-family: var(--font-tertiary);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border:1px solid transparent;
    transition: border-color, box-shadow 0.2s;

}

.form-contact textarea{
    min-height: 13rem;
    resize: vertical;
}

.form-contact input:hover,
.form-contact input:focus,
.form-contact textarea:hover,
.form-contact textarea:focus{
    outline: none;
    border-color: #ffbc97;
    box-shadow: -.1rem .1rem 1.1em rgba(0, 0, 0, 0.959);

}

.form-contact button{
    display: block;
    padding: 1em;
    background: #ffe300;
    color: #f7f7f7;
    text-transform: uppercase;
    font: var(--font-action);
    font-weight: 800;
    border: none;


}
   


