@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --font-primary:"Baloo Da 2", serif;
    --font-secondary:"Ubuntu", serif;
    --font-action:"Mulish", serif;
}
/*
.hamburguer{
    background-color: red;
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 3rem;
    display: flex;   
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
*/

/*
.line{
   width: 100%;
   height: .1rem; 
   background-color: #820bc7;
   box-shadow: 0.1rem 0.1rem 1px rgba(0, 0, 0, 0.4);
   transition: transform 1s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .42rem); 
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.42rem);
}

.hamburguer span{
    position:absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #820bc7;
    color: #fff;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #820bc7;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}
*/
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(252, 252, 252, 0.8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    animation: zoom 4s;  
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 25%;
    left: 15%;
}

.banner h1{
    color: #ee1919;
    font-size: 4.5rem;
    font-family: var(--font-primary);
    font-weight: 650;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    line-height: 4.5rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: movebanner 1s 1.1s forwards;
}

.banner p{
    font-family: var(--font-primary);
    color: rgba(247, 17, 190, 0.952);
    font-weight: 600;
    font-size: 2rem;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    opacity: 0;
    animation: movebanner 1s 1.3s forwards;
}

.banner button{
    font-family: var(--font-action);
    color: #fff;
    font-size: 1.0rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #8A2387;  
    background: -webkit-linear-gradient(to right, #ee9e54, #E94057, #8A2387);  
    background: linear-gradient(to right, #ee9e54, #E94057, #8A2387); 
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: movebanner 1s 1.5s forwards;
}

.banner button:hover{
   opacity: .9;
}

@keyframes movebanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg)
    }
    100%{
        transform: translateY(0rem) rotateY(0);
        opacity: 1;
    }
}

.navbar{
    width: 100%;
    height: 120px;
    background-color: rgba(228, 222, 222, 0.2);
    position: fixed;
    top: 0%;
    transition: all 1.5s;
}

.show-menu .navbar{
    
    background-color:  #C70039;
}

.menu-ul{    
position: absolute;
top: 2rem;
right: 6rem;
margin-left: .5rem;
justify-content: center;
align-items: center;
}

.menu-li{
    display: inline;
}
   
.show-menu .menu-a{
   
    color: #f5f5f5;
}

.menu-a{
    font-family:var(--font-action);
    font-size: 1.1rem;
    font-weight: 600;
    color: #ee1919;
    text-shadow: .2rem .2rem 2px rgba(112, 12, 89, 0.2);
    transition: color 500ms;
    padding: 15px;
    display: inline-block;
}

.menu-a:hover{
    color: #820bc7;
}

.social-media{
    position: absolute;
    bottom: .5rem;
    right: 6rem;
    width: 10%;
    display: flex;
    justify-content: space-evenly;
 
}
  

.social-media i{
    background-color: #820bc7;
    color:  #fff;
    height: 2.0rem;
    width: 2.0rem;
    font-size:1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    transition: background-color 500ms;
}

.social-media i:hover{
    background-color:rgba(247, 17, 190, 0.952);   
}

.services{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(5, 6rem);
    row-gap: 1.5rem;
    padding: 2rem;
}
.service:nth-child(1){
    grid-column: 3 / 6;
    grid-row: 1 / 4;
}

.service:nth-child(2){
    grid-column: 4 / 7;
    grid-row: 3 / 6;
}

.service:nth-child(3){
    grid-column: 11 / 14;
    grid-row: 3 / 6; 
}

.service:nth-child(4){
    grid-column: 12 / 15;
    grid-row: 1 / 4;
}

.service:nth-child(5){
    grid-column: 7 / 12;
    grid-row: 5 / 8;
}

.section-service{
    background-color: #f5f5f5;
    margin-right:2rem;
    margin-left: 2rem;
    z-index: 100;
}

.section-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #ee1919;
    border-bottom: solid 3px  #ee1919;
    margin-bottom: 1.5rem;
}

.service-header{
    display: flex;
    align-items: center;
}

.service-header i{
    font-size: 3.5rem;
    color:  #ee1919;
}

.service-header h3{
    font-family: var(--font-secondary);
    font-size: 2rem;
    color:#4b4b4b;
    padding-left: 1rem;
}

.service-text{
    font-family: var(--font-secondary);
    margin-top: 1rem;
}

.services-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 1 / 6;
    width: 100%;
    
}

.services-img-wrapper img{
    object-fit: cover;
    width: 100%;
    border-radius: 40%;
}

